<!-- Free shipping banner -->
<nav class = "navbar navbar-expand-lg fixed-top">
  <div class="container">
    <div class="collapse navbar-collapse justify-content-center">
      <p class="banner">FREE SHIPPING ON ALL ORDERS OVER $150</p>
    </div>
  </div>
</nav>


<!-- NavBar -->
<nav class="navbar navbar-expand-lg fixed-top" style="padding: 1.875rem .625rem; margin-top: 35px;">

  <!-- NavBar Container -->
  <div class="container">

    <div class="collapse navbar-collapse justify-content-center">

      <!-- List of buttons in NavBar -->
      <ul class="navbar-nav nav-fill w-75 d-flex align-items-center" style="justify-content: space-evenly;">
        <li class="nav-item">
          <button class="nav-secondary">SHOP</button>
        </li>
        <li class="nav-item">
          <button class="nav-secondary">BOOK</button>
        </li>
        <li class="nav-item">
          <button class="nav-primary">GOLF</button>
        </li>
        <li class="nav-item">
          <button class="nav-secondary">TOUR</button>
        </li>
        <li class="nav-item">
          <button class="nav-secondary">RETAIL</button>
        </li>
        
      </ul>
    </div>
  </div>
</nav>