.container {
    padding: 100px 0px 200px 0px;

    position: relative;
    width: 65%;

    border-top: 1px solid rgba(124,124,124,.25);
    text-align: center;

    
}

p.text {
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;

    height: 25px;

    margin-bottom: 0px !important;
  }

button.tour {
    margin-top: 20px;

    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;

    color: white;

    line-height: 44px;
    width: 284px;

    background-color: #96daea;
}

button.tour:hover {
    background-color: #C8E8F1;
}