<!-- NavBar -->
<nav class="navbar navbar-expand-lg">

    <!-- Nav Container -->
    <div class="container">
        <div class="collapse navbar-collapse justify-content-center">

            <!-- Nav Items -->
            <ul class="navbar-nav nav-fill w-75 d-flex align-items-center" style="justify-content: space-evenly;">
                <!-- NEW -->
                <li class="nav-item">
                    <a class="nav-item-primary" routerLink="new">New</a>
                </li>

                <a class="divider">&#183;</a>

                <!-- ALL -->
                <li class="nav-item">
                    <a class="nav-item-primary" routerLink="all">All</a>
                </li>

                <a class="divider">&#183;</a>

                <!-- Tops -->
                <li class="nav-item">
                    <a class="nav-item-primary" routerLink="tops">Tops</a>
                </li>

                <a class="divider">&#183;</a>

                <!-- Bottoms -->
                <li class="nav-item">
                    <a class="nav-item-primary" routerLink="bottoms">Bottoms</a>
                </li>

                <a class="divider">&#183;</a>

                <!-- Tees -->
                <li class="nav-item">
                    <a class="nav-item-primary" routerLink="tees">Tees</a>
                </li>

                <a class="divider">&#183;</a>

                <!-- Hats -->
                <li class="nav-item">
                    <a class="nav-item-primary" routerLink="hats">Hats</a>
                </li>

                <a class="divider">&#183;</a>

                <!-- Socks -->
                <li class="nav-item">
                    <a class="nav-item-primary" routerLink="socks">Socks</a>
                </li>

                <a class="divider">&#183;</a>

                <!-- Accessories -->
                <li class="nav-item">
                    <a class="nav-item-primary" routerLink="accessories">Accessories</a>
                </li>

                <a class="divider">&#183;</a>

                <!-- Music -->
                <li class="nav-item">
                    <a class="nav-item-primary" routerLink="music">Music</a>
                </li>
            </ul>
        </div>
    </div>
</nav>