<!-- <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link"><a href="#">Login</a> / <a href="#"></a>Info</a>
          <a class="nav-link" href="#">GOLF WANG &copy; 2023</a>
          <div>
            <a>Insta</a>
            <a>Tumblr</a>
            <a>Twitter</a>
            <a>LeFleur</a>
          </div>
          <a class="nav-link" href="#">Pricing</a>
          <a class="nav-link disabled">Disabled</a>
        </div>
      </div>
    </div>
  </nav>
 -->

<div>
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link"><a href="#">Login</a> / <a href="#">Info</a></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">GOLF WANG &copy; 2023</a>
    </li>
    <li class="nav-item">
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
    </li>
  </ul>
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link">GOLF_LOGO</a>
    </li>
  </ul>
</div>