<div class="container" style="margin-top: 20px;">
    <div class="row">
        <!-- Store info col -->
        <div class="col">
            <!-- Location -->
            <h2 class="fs">
                {{location}}
            </h2>

            <!-- Address -->
            <p class="fs">
                <strong>{{street}}</strong>
                <br>
                <strong>{{city}}</strong>
                <br>
                <strong>{{zip}}</strong>
            </p>

            <!-- Store Hours (MON-SAT) -->
            <p class="fs">
                <strong>STORE HOURS:</strong>
                <br>
                <strong>MONDAY - SATURDAY</strong>
                <br>
                <strong>11AM - 7PM</strong>
            </p>

            <!-- Store Hours (SUN) -->
            <p class="fs">
                <strong>SUNDAY</strong>
                <br>
                <strong>12PM - 6PM</strong>
            </p>
        </div>

        <!-- Images col -->
        <div class="col">
            
        </div>
    </div>
</div>