<div class="container-fluid center" style="padding: 40px 0px 40px 0px;">
    <div class="row text-center">
        <div class="col-3"></div>
        <!-- Create account -->
        <div class="col">
            <p class="title">CREATE ACCOUNT</p>

            <form action="">
                <div class="d-grid gap-0" style="margin-bottom: 20px;">
                    <input type="name" class="input" id="firstName" placeholder="First Name">
                    <input type="name" class="input" id="lastName" placeholder="Last Name">
                    <input type="email" class="input" id="email" placeholder="Email">
                    <input type="password" class="input" id="password" placeholder="Password">
                    <button type="submit" class="btn-primary">Create</button>
                </div>

                <p class="login-text"><a routerLink="/login" class="login-link"><b>Back to Login</b></a></p>
            </form>
        </div>
        <div class="col-3"></div>
    </div>
</div>
