<div class="container-fluid center" style="padding: 40px 0px 40px 0px;">
    <div class="row text-center">
        <!-- Login -->
        <div class="col border-right">
            <p class="title">LOGIN</p>
            <p class="login-text">
                Returning Customers: First time back since the update?
                <br>
                Make sure to <a href="#" class="login-link"><b>re-activate your account</b></a>
            </p>

            <form>
                <div class="d-grid gap-0" style="margin-bottom: 20px;">
                    <input type="email" class="input" id="email" placeholder="Email">
                    <input type="password" class="input" id="password" placeholder="Password">
                    <button type="submit" class="btn-primary">Sign In</button>
                </div>

                <p class="login-text"><a href="#" class="login-link"><b>Forget Your Password?</b></a></p>
            </form>
        </div>

        <!-- Sign Up -->
        <div class="col">
            <p class="title">CREATE ACCOUNT</p>
            <p class="login-text">
                CREATING AN ACCOUNT WILL ALLOW YOU TO CHECK OUT FASTER, <br> SAVE MULTIPLE SHIPPING ADDRESSES, ACCESS YOUR ORDER HISTORY, TRACK NEW ORDERS, SAVE ITEMS TO YOUR WISH LIST AND SUBSCRIBE TO THE GOLF WANG NEWSLETTER.
            </p>
            <!-- <a href="#" class="btn login-form-input">Create Account</a> -->
            <button class="btn-primary" routerLink="/account/register">Create Account</button>
        </div>
    </div>
</div>