<div class="container" style="width: 62.5% !important;">
    <!-- Footer -->
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4">

        <!-- Login/Info -->
        <p class="col-md-4 mb-0 footer"><a routerLink="login">LOGIN</a> / <a routerLink="info">INFO</a></p>
  
        <!-- Copyright -->
        <p class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto footer">GOLF WANG &copy; 2023</p>
  
        <!-- Socials -->
        <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item social-icons">
                <a href="https://www.instagram.com/golfwang"><img src="../../../assets/img/instagram.svg" alt="Instagram" width="16" height="16"></a>
            </li>
            <li class="nav-item social-icons">
                <a href="https://golfwang.tumblr.com/"><img src="../../../assets/img/tumblr.svg" alt="Tumblr" width="16" height="16"></a>
            </li>
            <li class="nav-item social-icons">
                <a href="https://twitter.com/tylerthecreator"><img src="../../../assets/img/twitter.svg" alt="Twitter" width="16" height="16"></a>
            </li>
            <li class="nav-item social-icons">
                <a href="https://golflefleur.com/"><img src="../../../assets/img/lefleur.svg" alt="LeFleur" width="16" height="16"></a>
            </li>
        </ul>

        <!-- GOLFWANG logo -->
        <div class="col-md-12 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto" style="margin-top: 10px;">
            <a href="/">
                <img src="../../../assets/img/3d-golf-logo.png" width="50px">
            </a>
        </div>

    </footer>
  </div>